.patientInfo{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title{
            padding: 25px 0px 0px 0px;
            color: #3A57A6;
            font-size: 23px;
            /* border: 1px solid green; */
        }

        
        .centre{
            width: 400px;
            height: 500px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            background-color: white;
            display: flex;
            flex-direction: column;

            
        }
    }
}

.profile{
    display: flex;
    justify-content: center;
    background-color: white;
    /* padding: 40px 40px; */
    .backbtn{
        color: white;
        background-color:#3A57A6 ;
        width: 100px;
        margin-top: 25px;
        height: fit-content;
    }
    .container{
        width: 100%;
        padding: 10px 50px;
        display: flex;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
        gap: 150px;
        

        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #3A57A6;
            font-size: 30px;
            /* border: 1px solid green; */
        }
 
        .btn{
            color: white;
            background-color:#3A57A6 ;
            width: 70%;
            margin-top: 25px;
        }
        
        .left{
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column; 
            /* border: 1px solid red; */
            .medhis{
                /* padding: 10px 10px  ; */
                width: 100%;
                height: 400px;
                border-radius: 10px;
                /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
                box-shadow: 5px 5px 10px #88888850;
                background-color: white;
                /* border: 1px solid red; */
                display: flex;
                flex-direction: column;
                
                .medcard{
                    padding-left: 20px;
                    margin-top: 30px;
                    display: flex;
                    justify-content: center;
                    /* align-items: center; */
                    flex-direction: column;
                    /* border: 1px solid red; */


                }
            
                

            }
            

        }

        .vl{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            border: 2px solid lightgrey;
            width: 0px;

        }

        .right {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .doshis{
                
                width: 100%;
                height: 400px;
                border-radius: 10px;
                box-shadow: 5px 5px 10px #88888850;
                background-color: white;

                .doscard{
                    margin-top: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .time{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 10px;
                        border-radius: 5px;
                        background-color: #dee7ff;
                        width: 250px;
                        height: 50px;
                        border: 2px solid #3A57A6;
                        cursor: pointer;
                        
                    }
                }
                }
            }

        }
    }
