.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
    height: 100%;
    width: 100%;

    .container{


        .title{
            font-weight: 400;
            font-size: 70px;
            color: #3A57A6;
        }

        .btn-start{
            font-size: 30px;
            background-color: #3A57A6;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            width: max-content;
            cursor: pointer;
            

        }
    }
}