.footer{
    display: flex;
        justify-content: center;
        color: #999;
        width: 100%;
        bottom: 0;
        position: fixed;
        
        

        img{
            width: 24px;
            height: 24px;
        }

        .container{
            width: 100%;
            
            hr{
                margin: 0px 0px;
                height: 0;
                border: 1px solid lightgray;
            }
            
            .bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 30px;  
                .left{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    h2{
        
                    }
                    span{
                        font-size: 13px;
                    }
                
                }

                .right{
                    display: flex;
                    align-items: center;
                    gap: 30px;
    
                    .link{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }
             }
            
            }
    
    }