.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 10px 0px;
    background-color:#3A57A6 ;

    .left{
        .back{
            
            

        }

    }

    .middle{
                .title{
                        color: white;
                        font-weight: 500;
                        font-size: 40px;
                }
    }

    .right{
        width: 45px;
        height: 45px;
    }
}